@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100vw;
    position: absolute;
}


#loader {
    position: fixed;
    inset: 0;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 18px;
    color: #333;
    z-index: 9999;
}

.spinner {
    border: 6px solid #ddd;
    border-top: 6px solid  rgba(102, 205, 170, 1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: rgba(102, 205, 170, 0.7);
    position: absolute;
    width: 100%;
}


.logo {
    width: 290px;
    height: 55px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
    width: 650px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: black;
    font-size: 23px;
}

nav p {
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: white;

}

nav p:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.containerLogo a{
    cursor: pointer;
}

.buttonCliente {
    border: none;
    padding: 11px 23px;
    border-radius: 21px;

    color: #39C2C6;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2.5px 2px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: medium;
    font-size: 20px;

    cursor: pointer;
}

.buttonCliente a {
    color: #39C2C6;
    text-decoration: none;
}


.hamburguer {
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 9999;
    position: fixed;
    top: 20px;
    right: 25px;
 
}

.hamburguer .bar {
    width: 100%;
    height: 4px;
    background: #ffffff;
    border-radius: 5px;
    transition: 0.3s;
}

.hamburguer.ativo .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    background-color: #39c2c6;
    z-index: 9999;
}

.hamburguer.ativo .bar:nth-child(2) {
    opacity: 0;
}

.hamburguer.ativo .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
    background-color: #39c2c6;
    z-index: 9999;
}

.menu-lateral {
    position: fixed;
    top: 0;
    right: -100%;
    width: 290px;
    background: #fff;
    box-shadow: -8px 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 999;
    border-top-left-radius: 7px;
}

.menu-lateral.ativo {
    right: 0;
}

.menu-lateral ul {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-top: 65px;
    border-top: 2px solid #39c2c6;
}

.menu-lateral ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 60px;
    cursor: pointer;
}

.menu-lateral ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(102, 205, 170);
    font-size: 21px;
    width: 100%;
    height: 100%;;
}

@media screen and (max-width: 1100px) {
    .menu-lateral {
        display: flex;
    }
}

@media screen and (min-width: 1101px) {
    .hamburguer {
        display: none;
    }

    .menu-lateral {
        display: none;
    }
}

.buttonWats {
    z-index: 1;
    top: 84%;
    left: 91.5%;
    width: 80px;
    position: fixed;

    cursor: pointer;
    border-radius: 100%;
}


.contato-container {
    margin-top: 140px;
    padding: 40px 120px;
}

.intro-contato h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 85px;
    font-weight: 700;
    line-height: 1.2;
}

.intro-contato p {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 200;
    margin-top: 10px;
    color: black;
}

.btn_fale {
    font-family: "Montserrat", sans-serif;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    background-color: #39C2C6;
    color: #fff;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    transition: background 0.3s ease;
}

.btn_fale:hover {
    background-color: #2ba3a7;
}

.btn_fale img {
    width: 35px;
}

.conteudo-contato {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    gap: 20px;
    flex-wrap: wrap;
}

.canais {
    width: 50%;
}

.canais h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}

.card-contato {
    margin-left: 50px;
    background: #ffffff;
    border-radius: 15px;
    width: 460px;
    align-self: flex-start;
    padding: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.logo-card {
    margin-left: 70px;
    width: 200px;
    height: 60px;
    padding: 10px;
    margin-top: -40;

}

.info-contato {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin: 8px;
    gap: 20px;
    width: 100%;
}

.info-contato p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.email {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.icone-contato {
    width: 40px;
    height: 30px;
    object-fit: contain;
}

.horarios,
.localizacao {
    margin-top: 25px;
}

.horarios h3,
.localizacao h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
    color: #111;
    font-weight: 600
}

.horarios p,
.localizacao p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 200
}

.nao-atendemos {
    margin-top: 10px;
}

.formulario {
    font-family: "Montserrat", sans-serif;
    width: 45%;
    padding: 40px;
    border-radius: 15px;
    margin-top: -140px;
}

.formulario h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 600;
}

.aviso {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #888;
    margin-bottom: 20px;
}

.mapa {
    margin-top: 30px
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
textarea {
    font-family: "Montserrat", sans-serif;
    padding: 12px;
    border-radius: 20px;
    border: 2px solid #919191;
    font-size: 16px;
    resize: none;
}

.btn-enviar {
    background-color: #39C2C6;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    width: 200px;
    margin-left: 135;
}

.btn-enviar:hover {
    background-color: #2ba3a7;
}

.localizacao p {
    display: flex;
}


.footer {
    background-color: #66CDAA;
    /* Cor de fundo verde-água */
    color: white;
    /* Cor do texto branca */
    padding: 40px 10px 0 10px;
}

.footer-content {
    display: flex;
    /* Usando Flexbox para layout */
    justify-content: space-around;
    /* Espaço entre os itens */
    align-items: flex-start;
    /* Alinhando itens ao topo */

    padding: 0 10px;
    /* Espaçamento interno */
}

.footer-content h1 {
    font-size: 30px;
    /* Tamanho do texto */
    margin-bottom: 10px;
    /* Espaçamento inferior */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: black;
}

.footer-content a{
    text-decoration: none;
    color: white;
}

.footer-content p {
    font-size: 17px;
    /* Tamanho do texto */
    line-height: 10px;
    /* Espaçamento entre linhas */
    margin-bottom: 10px;
    /* Espaçamento inferior */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: black;
}

.footer-content button {
    background-color: #66CDAA;
    /* Cor de fundo do botão */
    color: white;
    /* Cor do texto do botão */
    border: none;
    /* Removendo borda padrão */
    padding: 10px 20px;
    /* Espaçamento interno */
    cursor: pointer;
    /* Cursor de ponteiro ao passar o mouse */
    font-size: 0.9em;
    /* Tamanho do texto do botão */
    border-radius: 10px;
    /* Bordas arredondadas */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.footer-content img {
    width: 45px;
    /* Largura da imagem */
    height: auto;
    /* Altura automática para manter proporção */
    margin-top: 20px;
    /* Espaçamento superior */
    padding: 5px;
    /* Espaçamento interno */
    align-items: center;
    /* Centralizando a imagem */
}

.direitos-autorais {
    text-align: center;
    /* Centralizando o texto */
    font-size: 17px;
    /* Tamanho do texto */
    padding: 20px 0;
    /* Espaçamento interno */
}

@media screen and (max-width: 1230px) {
    nav {
        justify-content: center;
        gap: 20px;
        font-size: 19px;
        width: 500px;
    }

    .buttonCliente {
        width: 230px;
    }
}

@media screen and (max-width: 1100px) {
    header {
        justify-content: space-between;
        padding: 0 30px;
    }

    nav {
        display: none;
    }

    .buttonCliente {
        display: none;
    }

    .hamburguer {
        display: flex;
    }

    .menu-lateral {
        display: flex;
    }
}


@media (max-width: 1200px) {
    .contato-container {
        padding: 40px 40px;
    }

    .conteudo-contato{
        height: 240vh;
    }

    .canais, 
    .formulario {
        width: 100%;
    }

    .card-contato {
        width: 100%;
        margin-left: 0;
    }
    
    .btn-enviar{
        margin-left: 0;
    }

    .btn_fale{
        margin-left: 0;
    }

     .footer-content h1{
        font-size: 19px;
    }

    .footer-content p{
        font-size: 10px;
    }

    .footer-content img{
        width: 30px;
    }
}

@media (max-width: 900px) {

    .contato-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .conteudo-contato {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .canais,
    .formulario {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    .intro-contato h1 {
        font-size: 48px;
        text-align: center;
    }

    .intro-contato p {
        font-size: 22px;
        text-align: center;
    }

    .btn_fale {
        margin: 20px auto;
        display: flex;
        justify-content: center;
        padding: 15px 25px;
        font-size: 20px;
    }

    .footer-content{
        justify-content: space-between;
        padding: 0;
    }
}