@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: rgba(102, 205, 170, 0.7);
    position: absolute;
    width: 100vw;
    overflow-y: hidden;
}


.logo{
    width: 290px;
    height: 55px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
    width: 650px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: black;
    font-size: 23px;
}

.buttonCliente{
    border: none;
    padding: 11px 23px;
    border-radius: 21px;

    color: #39C2C6;
    background-color: white;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: medium;

    font-size: 20px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 2.5px 2px;
}

.bgHome01{
    height: 99.4vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/backgroundHome01.jpg)
}

.cardBgHome01{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: white;
}